@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html,body{
    height: 100vh;
}

body{
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

body h1{
    font-size: 2.5rem;
}

.nav-link:hover{
    color: red !important;
    font-weight: bolder;
}
.nav-link:focus{
    color: red !important;
    font-weight: bolder;
}

body main {
    flex: 1 0 auto;
} 

body main> div.main {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, .80), rgba(0, 0, 0, .70)100%), url('../img/backgroud.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

body .principal{
    margin-top: 90px;
}

body footer {
    flex-shrink: 0;
    color: #74787B;
}

body footer p {
    font-size: 1em;
    margin: 0;
}

body footer a{
    color: #74787B;
    font-size: 1.4em;
    padding-left: 5px;
    text-decoration: none;
}

body footer a:hover{
    color: white;
}

.card:hover{
    transition:.2s ease-in-out ;
    transform:scale(1.1);
    z-index: 2;
    box-shadow: 0px 15px 25px rgb(0, 0, 0) !important;
}
.card{
    transition:.2s ease-in-out ;
    z-index: 1;
}

.modal-open > *:not(.modal){
    filter: blur(8px);
    transition: 0.2s ease-in-out;
}


.bannerGaviao{
    height: 50vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.16) 0%, rgba(0, 0, 0, 0.8) 100%), url('../img/gaviao.jfif');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
}
